.met-people-selection {
    width: 100%;
    font-family: Arial, sans-serif;
    align-items: center;
}

.met-people-selection .people-label {
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
}

.met-people-selection .people-options {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 10px;
    justify-content: space-between;
}

.met-people-selection .people-option {
    width: 20%;
    display: flex;
    align-items: center;
    margin-right: 15px;
    margin-bottom: 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    flex-direction: column;
    transition: transform 0.2s;
}

.people-option:hover {
    transform: scale(1.1);
}

.met-people-selection .people-option.selected {
    border: 2px solid blue;
}

.met-people-selection .people-icon {
    width: 40px;
    height: 40px;
    margin-bottom: 5px;
}

.met-people-selection .selected-people {
    margin-top: 20px;
    font-style: italic;
}

.met-people-selection .met-people-options .met-people-option-label {
    margin-top: 5px;
}
