.birth-year-input {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.birth-year-label {
    font-weight: bold;
    margin-bottom: 5px;
}

.birth-year-select {
    padding: 10px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 10px;
    max-width: 200px;
}

.selected-birth-year {
    margin-top: 10px;
    font-style: italic;
}
