*,
*::before,
*::after {
    box-sizing: border-box;
}

.feedback-page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.feedback-page-inner-container {
    width: 100%;
    max-width: 800px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: border-box;
}

.feedback-page-h1 {
    font-size: 2rem;
    margin-bottom: 10px;
    text-align: center;
}

.feedback-page-p {
    font-size: 1rem;
    margin-bottom: 20px;
    text-align: center;
}

.feedback-page-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.feedback-page-form-button {
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: #fff;
    cursor: pointer;
    align-self: center;
}


@media (max-width: 600px) {
    .feedback-page-inner-container {
        padding: 10px;
    }

    .feedback-page-h1 {
        font-size: 1.5rem;
    }

    .feedback-page-p {
        font-size: 0.875rem;
    }

    .feedback-page-form-button {
        width: 100%;
        align-self: stretch;
    }
}
