.diary-image-layout {
    display: flex; 
    position: relative; 
    justify-content: center; 
    align-items: center; 
    width: 512px; 
    max-width: 80%;
    max-height: 80%;
}

.diary-image {
    object-fit: contain; 
}

.diary-image-download-button {
    position: absolute; 
    right: 1rem; 
    bottom: 1rem; 
    padding-top: 0.5rem;
    padding-bottom: 0.5rem; 
    padding-left: 1rem;
    padding-right: 1rem; 
    border-radius: 0.375rem; 
    border-width: 1px; 
    border-color: #D1D5DB; 
    font-size: 0.875rem;
    line-height: 1.25rem; 
    font-weight: 500; 
    color: #374151;
}

.diaryimagedownloadbutton:hover {
    background-color: rgb(243 244 246);
}

.diaryimagedownloadbutton:focus {
    box-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color); 
    --ring-color: #6B7280; 
    --ring-offset-width: 2px;
    box-shadow: 0 0 0 var(--ring-offset-width) var(--ring-offset-color), var(--ring-shadow); 
}